# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Tooling
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Images/output
*.png

# Pillow caches or temp
*.egg-info/
